/* Default Light Theme */
body {
	text-align: center;
	font-family: Arial, sans-serif;
	background-color: #EEE9DF;
	color: #1b2632;
	margin: 0;
	padding: 20px;
	
}	

ul {
  display: inline-block;
  text-align: left;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

#achieve {
	width: 400px;
    height: 100px;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #1b2632;
	color: #ffb162;
}
